#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh  $@

# debian does not like "libexec"
override_dh_auto_install:
	dh_auto_install -- LIBEXECDIR=/usr/lib

# there is no building required
override_dh_auto_build:

