#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh  $@

# debian does not like "libexec"
override_dh_auto_install:
	dh_auto_install -- LIBEXECDIR=/usr/lib

# ngitcached itself doesn't need building;
# there may be some node_modules in need of compilation
override_dh_auto_build:
	npm rebuild

